{% extends 'master' %}
  
{% block content %}


<div class="jumbotron">
    <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                    <th>Könyv id</th>
                    <th>Író: cím</th>
                    <th>ár</th>
            <!--        <th>+</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr class="danger" onclick="window.document.location='{{ 'book_page' | route({id: book.id}) }}';">
                    
                        <td>{{ book.id }}</td>
                        <td>{{ book.writer }}: {{ book.title }}</td>
                        <td>{{ book.price }} Ft</td>
           <!--             <td><a href='/book/?id={{ book.id }}'>+</a></td> -->
<!--                        <td><a href='/deleteFromBasket?id={{ book.id }}'>delete</a></td> -->
                        <td><a href="{{ 'basket_delete' | route({id: book.id}) }}">delete</a></td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
    <a href="/emptyBasket" class="btn btn-info">Kosár ürítése</a>
    <a href="/order" class="btn btn-success">Rendelés leadása</a>

</div>


{% endblock %}
