{% extends 'master' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js"></script>
    <script type ="text/javascript" src="/scripts/delete.js"></script>
{% endblock %}
  
{% block content %}
        <ul class="list-group">
            {% for category in categories %}
                <a href= "{{ 'book_category' | route({id: category.id}) }}"> 
                    <li class="list-group-item">
                            {{ category.name }}
                    </li>
                </a>
            {% endfor %}
        </ul>


<div class="jumbotron book">
     <!--   <div class="panel panel-primary">
     -->       <div class="panel-body">
            <img src="{{ book.cover }}" alt="cover">
                {% if book.numOfCopies > 0 %}
                    {% if user %}
                        <a href="{{ 'basket_put' | route({id: book.id}) }}" class="btn btn-success">Kosárba teszem</a>
                    {% else %}
                        <a href="#" class="btn btn-success disabled">Kosárba teszem</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn btn-success disabled">Nincs raktáron</a>
                {% endif %}
                        <h2>{{ book.title }}</h2>                
                        <h4>{{ book.writer }}</h4>                
                        <h5 style = "margin-top: 3%">{{ book.language }}</h5>
                   
                        <h5>{{ book.binding }}</h5>
                        <h5>{{ book.publisher }} {{ book.releaseDate }}</h5>
                        <h5>{{ book.originalTitle }}</h5>
                        <h5>{{ book.pageNum }}</h5>
                        <h5>ISBN: {{ book.isbn }}</h5>
                        <h5>Ár: {{ book.price }} Ft</h5>

                        <p>
                            <a href= "{{ book.description }}">
                                Történet
                            </a> 
                        </p>
                        {%  if book.remark %}
                            <h5>Megjegyzés: {{ book.remark }} </h5>
                        {% endif %}
                        <h5>Műfajok: 
                        {% for bookCategorie in bookCategories %}
                            {{ bookCategorie.name }}, 
                        {% endfor %}
                        </h5>
                        {% if user.username == 'admin' %}
                            <div>
                                {{ csrfField | safe }}
                                <span class="help-block"></span>
                                <input id="bookId" type="hidden" value="{{book.id}}">
                                <a class="btn btn-success" href="{{ 'book_edit' | route({id: book.id}) }}">Könyv szerkesztése</a>
                                <a id="btnDelete" class="btn btn-danger btn-delete" href="{{ 'book_delete' | route({id: book.id}) }}">Törlés</a>
                            </div>

                            <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                Biztosan törölni szeretnéd?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
                                <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
                                </div>
                            </div>
                            </div>
                        {% endif %}
  
            </div>
            
                   
            

    <!--    </div> -->
</div>




{% endblock %}
