{% extends 'master' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="/scripts/smart_categories.js"></script>
{% endblock %}
  
{% block content %}
      
    <div class="panel panel-default">
  <div class="panel-heading">Könyv szerkesztése</div>
  <div class="panel-body">


    {% if old('errors') %}
        <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Hibalista</h3>
        </div>
        <div class="panel-body">
            <ul>
            {% for error in old('errors') %}
            <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
        </div>
    {% endif %}
    

    <form class="form-horizontal"  action="{{ 'do_book_edit' | route({id: book.id}) }}" method="POST" enctype="multipart/form-data" data-toggle="validator">

        {{ csrfField }}

  <!--      <fieldset> -->
            <div class="form-group has-feedback">
                <label for="writer" class="col-lg-2 control-label">Író</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="writer" name = "writer"
                        value="{{ book.writer }}"  required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="title" class="col-lg-2 control-label">Cím</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="title" name = "title"
                        value="{{ book.title }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="price" class="col-lg-2 control-label">Ár</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="price" name = "price"
                        value="{{ book.price }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="binding" class="col-lg-2 control-label">Kötés</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="binding" name = "binding"
                        value="{{ book.binding }}">
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="isbn" class="col-lg-2 control-label">ISBN</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="isbn" name = "isbn"
                        value="{{ book.isbn }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="releaseDate" class="col-lg-2 control-label">Kiadás éve</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="releaseDate" name = "releaseDate"
                        value="{{ book.releaseDate }}">
                </div>
            </div>
            <div class="form-group">
                <label for="publisher" class="col-lg-2 control-label">Kiadó</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="publisher" name = "publisher"
                        value="{{ book.publisher }}">
                </div>
            </div>
            <div class="form-group">
                <label for="originalTitle" class="col-lg-2 control-label">Eredeti cím</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="originalTitle" name = "originalTitle"
                        value="{{ book.originalTitle }}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Leírás</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="description" name = "description"
                        value="{{ book.description }}">
                </div>
            </div>
            <div class="form-group">
                <label for="pageNum" class="col-lg-2 control-label">Oldalszám</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="pageNum" name = "pageNum"
                        value="{{ book.pageNum }}">
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="language" class="col-lg-2 control-label">Nyelv</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="language" name = "language"
                        value="{{ book.language }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="cover" class="col-lg-2 control-label">Borító</label>
                <div class="col-lg-10">
                    <input type="url" class="form-control" id="cover" name = "cover"
                        value="{{ book.cover }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="numOfCopies" class="col-lg-2 control-label">Példányszám</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="numOfCopies" name = "numOfCopies"
                        value="{{ book.numOfCopies }}">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="categories" class="col-lg-2 control-label">Műfajok</label>
                <div class="col-lg-10 category-list">
                    <h5>
                        {% for bookCategorie in bookCategories %}
                            {{ bookCategorie.name }}, 
                        {% endfor %}
                    </h5>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-lg-2 control-label">Műfaj hozzáadása</label>
                <div class="col-lg-10">
                    <select class="form-control" id="category" name = "category">
                        <option class="hide">-</option>
                        {% for category in categories %}
                            <option>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if bookCategories.length > 0 %}
            <div class="form-group">
                <label for="categoryDelete" class="col-lg-2 control-label">Műfaj törlése</label>
                <div class="col-lg-10">
                    <select class="form-control" id="categoryDelete" name = "categoryDelete">
                        <option class="hide">-</option>
                        {% for category in bookCategories %}
                            <option>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="remark" class="col-lg-2 control-label">Megjegyzés</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="remark" name = "remark"
                        value="{{ book.remark }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            
   <!--     </fieldset> -->
    </form>





  </div>
</div>



{% endblock %}
