{% extends 'master' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js"></script>
    <script src="/scripts/delete.js"></script>
{% endblock %}
  
{% block content %}


<div class="jumbotron">
    <h2 style='margin-top: -3px'>Megrendelések listája</h2>
    <table class="table table-striped table-hover ">
        
                <thead>
                    <tr>
                        <th>Rendelés azonosító</th>
                        <th>Rendelés ideje</th>
                        <th>Rendelés összege</th>
                        <th>Státusz</th>
                    </tr>
                </thead>
                <tbody>
                    {{ csrfField | safe }}
                            <span class="help-block"></span>
                    {% for order in orders %}
                        {% if order.status == 'Lezárt' %}
                        <tr class="active">                    
                        {% elif order.status == 'Új' %}
                        <tr class="danger">
                        {% elif order.status == 'Átvehető' %}
                        <tr class="info">
                        {% else %}
                        <tr class="success">
                        {% endif %}
                            <td>{{ order.id }}</td>
                            <td>{{ order.created_at }}</td>
                            <td>{{ order.price }} Ft</td>
                            <td>{{ order.status }}</td>
                            <td><a href="{{ 'order_details' | route({id: order.id}) }}">Részletek</a></td>
                        {% if user.username == 'admin' %}
                            {% if order.status != 'Lezárt'%}
                            <td><a href="{{ 'order_edit' | route({id: order.id}) }}">Módosítás</a></td>
                            <td><a class="orderDelete" href="{{ 'order_delete' | route({id: order.id}) }}">Megrendelés törlése</a></td>
                            {% else %}
                            <td>-</td>
                            <td>-</td>
                            {% endif %}
                        {% endif %}
                    
                        </tr>
                    {% endfor %}
                    
  
                </tbody>
    </table>
    <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Biztosan törölni szeretnéd?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
                </div>
            </div>
        </div>
    </div> 
</div>


{% endblock %}
