{% extends 'master' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
{% endblock %}
  
{% block content %}
      
    <div class="panel panel-default">
  <div class="panel-heading">Regisztráció</div>
  <div class="panel-body">


    {% if old('errors') %}
        <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Hibalista</h3>
        </div>
        <div class="panel-body">
            <ul>
      <!--       <li>   {{ old('username') }}</li> -->
            {% for error in old('errors') %}
            <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
        </div>
    {% endif %}
    
    <div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal" action="{{ 'do_user_create' | route }}" method="POST" enctype="multipart/form-data" data-toggle="validator">

        {{ csrfField }}

  <!--      <fieldset> -->
            <div class="form-group has-feedback">
                <label for="username" class="col-lg-2 control-label">Felhasználónév</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" name = "username" placeholder="Felhasználónév"
                        value="{{ old('username') }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="firstname" class="col-lg-2 control-label">Keresztnév</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="firstname" name = "firstname" placeholder="Keresztnév"
                        value="{{ old('firstname') }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="lastname" class="col-lg-2 control-label">Vezetéknév</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="lastname" name = "lastname" placeholder="Vezetéknév"
                        value="{{ old('lastname') }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="email" class="col-lg-2 control-label">E-mail cím</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="email" name = "email" placeholder="pl@pl.pl"
                        value="{{ old('email') }}" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="password" class="col-lg-2 control-label">Jelszó</label>
                <div class="col-lg-10">
                    <input type="password" data-minlength="3" class="form-control" id="password" name = "password" placeholder="Jelszó" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="inputPasswordAgain" class="col-sm-2 control-label">Jelszó ismét</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPasswordAgain" data-match="#password" name="password_again" placeholder="Jelszó" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
   <!--     </fieldset> -->
    </form>





  </div>
</div>



{% endblock %}
